#content {
    position: relative;
    top: 100px;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    
}

#buttonContainer {
    display: flex;  
    width: 500px;
    flex-direction: row;  
    justify-content: space-between;       
}

.toastr-success{
    background-color: limegreen;
    text-align: center;
    border: 1px solid limegreen;
    border-radius: 25px;
    font-size: 20px;
    opacity: .65;
}

.toastr-error{
    background-color: rgb(236, 79, 79);
    text-align: center;
    border-radius: 25px;
    font-size: 20px;
    opacity: .65;
}

.toastr-info{
    background-color: lightblue;
    text-align: center;
    border-radius: 25px;
    font-size: 20px;
    opacity: .65;
}



