Button {
    color: white;
    background-color: blue;
    border: 1px solid black;
    padding: 10px;
    border-radius: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1px;  
}

Button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

  Button:hover {
    background-color: darkgreen; /* Green */
  }

  .listButton:hover {
    background-color: limegreen;
  }

  .removeLast:hover {
    background-color: red;
    color: black;
  }

  .clearButton:hover {
    background-color: red;
    color: black;
  }
