#headerSpan {
    padding: 15px auto;
    background-color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    min-height: 70px;
    width: 100%;
    position: fixed;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    text-align: center;  
    display: flex;    
    justify-content: center;   
    z-index: 5;   
}


